.container {
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25 px;
}
.parallax {
    padding: 100px 35px;
    min-height: 800px;
    background: transparent;
}

.parallax_small {
    padding: 100px 35px;
    min-height: 800px;
    background: transparent;
}

.welcome {
    z-index: 2;
    position: relative;
    top: 200px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
}

.welcome_info {
    z-index: 2;
    position: relative;
    top: 150px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.color_1 {
    min-height: 400px;
    background-color: magenta;
}

.art {
    z-index: 2;
    position: relative;
    top: 100px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
}

.art_info {
    z-index: 2;
    position: relative;
    top: 100px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.color_2 {
    min-height: 400px;
    background-color: #0099ff;
}

.app {
    z-index: 2;
    position: relative;
    top: 170px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
}

.app_info {
    z-index: 2;
    position: relative;
    top: 150px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.color_3 {
    min-height: 400px;
    background-color:rgb(161, 231, 161);
}

.avatar {
    z-index: 2;
    position: relative;
    top: 400px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
}

.avatar_info {
    z-index: 2;
    position: relative;
    top: 150px;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

    .color_4 {
        min-height: 400px;
        background-color: #ff3300dc;
    }

    .color_5 {
        min-height: 800px;
        background-color: black;
        text-align: center;
        /* padding: 20px; */
    }

    .social_git {
        position: relative;
        top: 134px;
        right: 219px;
    }

    .social_link {
        position: relative;
        top: 348px;
        right: 462px;
    }

    .social_stack {
        position: relative;
        top: 375px;
        right: 100px;
    }
    
    .social_home {
        position: relative;
        top: -70px;
        right: -160px;
    }

    .social_brand {
        position: relative;
        top: 360px;
        right: -300px;
    }

    .social_about {
        position: relative;
        top: 500px;
        right: 450px;
    }

    .social_contact {
        position: relative;
        top: 485px;
        right: -325px;
    }

    footer {
        background: black;
        color: #fff;
        padding: 30px 0;
        /* clear: both; */
        border-top: 8px solid #4aaaa5;
        color: #ccc;
        font-size: 12px;
        text-align: center;
        position: absolute bottom;
        /* bottom: 0; */
        width: 1110px;
    }
      
      

        
    
